.multiplex-text-input {
  
        /* width: 50px;
        background-color: #FFC312;
        color: black;
        border:0 !important;
        color: white;
        cursor: pointer; */
        border-radius: 25px;
        width: 400px;
        padding-left: 40px;
        
}

.multiplex-icon {
        position: absolute;
        left: 15px;
        top: 7px;
}