.multiplex-text-input {  
        border-radius: 25px;
        width: 400px;
        padding-left: 40px;        
}

.multiplex-icon {
        position: absolute;
        left: 15px;
        top: 7px;
}