<h1 id = "create-account-title">Create account</h1> 
<div class="presentation-page-container center-element-div">
<form>     
    <text-input placeholder = "First Name" inputIcon="faUser"></text-input>
    <text-input placeholder = "Last Name" inputIcon="faUser"></text-input>   
    <text-input placeholder = "User/Email" inputIcon="faEnvelope"></text-input> 
    <text-input placeholder = "Password" inputIcon="faLock"></text-input> 
    <text-input placeholder = "Confirm Password" inputIcon="faLock"></text-input> 
    <text-input placeholder = "Phone" inputIcon="faPhone"></text-input> 
</form>
<a href="#" class="btn btn-primary btn-lg active " role="button" aria-pressed="true" id="create-account" >Create</a>
</div>