<h1 id = "login-title">Log in</h1> 
<form class="login-container">       
    <text-input placeholder = "Email" inputIcon="faEnvelope"></text-input>
    <text-input placeholder = "Password" inputIcon="faLock" ></text-input>      
    <h2 id="forgot-password">Forgot your password? </h2>
</form>
<div class ="center-element-div" id="right-side-panel"> 
    <a href="#" class="btn btn-primary btn-lg active " role="button" aria-pressed="true" id="sign-in-button" >Log in</a>
</div>    


<!-- <button class="rounded-pill" id="sign-in-button"Sign in></button> -->
<div class ="center-element-div" id="create-account-section"> 
    <h3 id="forgot-password">Don't have an account yet? </h3>
<a routerLink ="/signup" routerLinkActive = "active" id = "create-accout-link">Create account</a>
</div>    